// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.planet {
  font-family: "Oswald", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  background-color:blue;
  color:yellow;
  position:relative;
  left:700px;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.attribute {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size:30px;
  color:rgb(200,100,300)
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

#head {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:70px;
  background-color:gray;
}

.data {
	font-family:sans-serif;
	font-size:30px;
}

#more{
	font-family:sans-serif;
	font-size:30px;
	float:right;
	width:30px;
	position:fixed;
	background-color:red;
	z-index:10;
}

.image{
	width:500px;
	height:500px;
	position:relative;
	left:500px;
}

.table{
	position:relative;
	left:600px;
}

#body{
	background-color:yellow;
}

.small{
	font-size:10px;
	position:relative;
	bottom:10px;
}
	



	