
.attribute {
  font-family: "Oswald", serif;
  font-weight: 300;
  font-style: normal;
  font-size:30px;
  color:rgb(200,100,300)
}

#heada {
  font-family: "Bungee Spice", serif;
  font-weight: 400;
  font-style: normal;
  font-size:100px;
  position:relative;
  left:100px;
  top:0px;
}


.table.tr.data {
	font-family:sans-serif;
	font-size:30px;
}

#more{
	font-family:sans-serif;
	font-size:20px;
	float:right;
	width:200px;
	background-color:red;
	z-index:10;
}

.image{
	width:500px;
	height:500px;
	position:relative;
	left:500px;
}

.table{
	position:relative;
	left:600px;
}

#body{
	background-color:yellow;
}

.small{
	font-size:15px;
	position:relative;
	bottom:12px;
}


.planet {
  font-family: "Oswald", serif;
  font-style: normal;
  font-size:200%;
  position:relative;
  left:30px;
}
	



	